*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: large;

}

H1{
    color: rgb(255, 0, 0);
    padding-bottom: 25PX;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(87, 18, 18);
    
}

.calculator{
    background: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 15px;
    /* border: 2px solid rgb(248, 248, 248); */
    
}

.display input{
    width: 210px;
    margin-bottom :20px ;
    padding: 10px ;
    border-radius: 1px;
    text-align: right;
    background: rgba(255, 255, 255, 0.233);
    color: white;
    font-size: 20px;
    border: none;
    
}

.calculator form .btn{
    width: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: transparent;
    

}

form div #equal{
    width:103px;
    background: orange;
}

#opr{
    background: orange;
}

#topbtn{
    background: rgba(255, 255, 255, 0.452);
}

#btns{
    background: rgba(255, 255, 255, 0.164);
}